*~
*.o
*.o.*
*.a
*.s
*.ko
*.la
*.lo
*.so
*.so.dbg
*.mod.c
*.i
*.lst
*.symtypes
*.order
modules.builtin
*.elf
*.bin
*.gz
*.bz2
*.lzma
*.xz
*.lzo
*.patch
*.gcno
*.gmo

.deps/
.libs/
/nbproject
INSTALL
Makefile
Makefile.in*
aclocal*
autom4te.cache
compile
config.*
configure
depcomp
docs/*
install-sh
libtool
ltmain.sh
m4
missing
mkinstalldirs
panel-plugin/cpufreq.desktop
po/POTFILES
stamp-*
ABOUT-NLS
po/Makevars.template
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sin
ChangeLog
po/remove-potcdate.sed
po/xfce4-cpufreq-plugin.pot
