*.o
*.o.*
*.a
*.s
*.ko
*.la
*.lo
*.so
*.so.dbg
*.mod.c
*.i
*.lst
*.symtypes
*.order
modules.builtin
*.elf
*.bin
*.gz
*.bz2
*.lzma
*.xz
*.lzo
*.patch
*.gcno
*.gmo

.deps/
.libs/
/nbproject
INSTALL
Makefile
Makefile.in*
aclocal*
autom4te.cache
compile
config.*
configure
configure.ac
depcomp
docs/*
install-sh
intltool-*.in
libtool
ltmain.sh
m4
missing
mkinstalldirs
panel-plugin/cpufreq.desktop
po/.intltool-merge-cache
po/POTFILES
stamp-*
